{% extends "base.html" %}

{% block title %}About - Harsh{% endblock %}

{% block content %}
<section id="education_link">
    <div class="content">
        <h2>About & Education</h2>
        <div class="education-container">
            <div class="content">
                <h3>Master of Technology (CSE)</h3>
                <p>Parul University, 2020-2022 | CGPA: 8.32</p>
                <br>
                <h3>Bachelor of Technology (CSE)</h3>
                <p>Parul University, 2016-2020 | CGPA: 7.53</p>
            </div>
        </div>
    </div>
</section>
{% endblock %}